body {
  background: #e1e1ea;
  font-family: 'Roboto';
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
}

h2{
  line-height: 2px;
  color: gray;
  padding-bottom: 1px;
}

h3{
  line-height: 2px;
  color: gray;
  
}

h4{
  line-height: 2px;
  color: gray;
}

h5{
  line-height: 20px;
  color: gray;
  padding-top: 2px;
  padding-bottom: 20px;
}

h6{
  line-height: 15px;
  color: gray;
  padding-bottom: 50px;
}


/**Left side Img**/

/**Left side CSS**/
.left-box{
  float: left;
  box-shadow: 10px 10px 5px grey;
  background-color: #b30000;
  height: 961px;
  width: 300px;
  box-sizing: border-box;
  margin: 15px 15px 15px 15px;
}


/**work right side rows **/
.row1 {
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  height: 130px;
  width: 850px;
  margin-top: -235%;
 margin-left: 350px;
}

.name1 {
  text-align: left;
  margin: auto;
  width: 50%;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 80px;
}

.name2 {
  text-align: left;
  margin: auto;
  width: 50%;
}

.row2 {
  box-shadow: 10px 10px 5px grey;
  background-color: yellow;
  height: 340px;
  width: 850px;
  margin-top: 0%;
  margin-left: 350px;
}

.name {
  text-align: left;
  margin: auto;
  width: 50%;
  padding: 1px;  
}


.Education-right{
  padding-left: 450px;
  
}

.Experience-right{
  padding-left: 450px;
  
}

.References-right{
  padding-left: 450px;
   margin-top: -15%;
  
}

.References-left{
   margin-top: -40%;
  
}

.row3 {
  box-shadow: 10px 10px 5px grey;
  background-color: green;
  height: 340px;
  width: 850px;
  margin-top: 30%;
  margin-left: 0px;
}

.row4 {
  box-shadow: 10px 10px 5px grey;
  background-color: brown;
  height: 150px;
  width: 850px;
  margin-top: 30%;
  margin-left: 0px;
}
